version: '3.9'

services:
  # this container runs the hoshizora.sql project and generate the mariadb.sql file
  hoshizora:
    image: node:alpine
    container_name: vocadump-hoshizora
    volumes:
      - ../:/hoshizora.sql/
    working_dir: /hoshizora.sql/
    entrypoint: /bin/sh -c "yarn && yarn build && yarn start"
    profiles:
      - initializer
  
  # this container runs the mariadb.sql file against the actual mariadb container
  importer:
    image: mariadb
    container_name: vocadump-importer
    volumes:
      - ../output:/hoshizora.sql/output # this mapping must be same as in hoshizora
    entrypoint: /bin/sh -c "echo 'importing to mariadb' && mariadb -u root --password=${MYSQL_ROOT_PASSWORD} -h vocadump-mariadb ${MYSQL_DATABASE} < /hoshizora.sql/output/mariadb.sql" 
    depends_on:
      hoshizora:
        condition: service_completed_successfully
      mariadb:
        condition: service_healthy
    profiles:
      - initializer
  
  # this actual mariadb container
  mariadb:
    image: mariadb
    container_name: vocadump-mariadb
    restart: always
    ports:
      - 3306:3306
    volumes:
      - ../mariadb/:/var/lib/mysql
    environment:
      # Use root/<MYSQL_ROOT_PASSWORD> as user/password credentials
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      # needed by health check, see https://github.com/docker-library/docs/blob/master/mariadb/README.md#mariadb_mysql_localhost_user--mariadb_mysql_localhost_grants
      MARIADB_MYSQL_LOCALHOST_USER: true
    healthcheck:
      # see https://github.com/MariaDB/mariadb-docker/issues/94#issuecomment-1069429616
      test: ["CMD", "/usr/local/bin/healthcheck.sh", "--su-mysql", "--connect", "--innodb_initialized"]
      interval: 1s
      timeout: 3s
      retries: 20

  # this container runs the adminer for users to browse the content in the mariadb container
  adminer:
    image: adminer
    container_name: vocadump-adminer
    restart: always
    ports:
      - 8080:8080
    environment:
      ADMINER_DEFAULT_SERVER: vocadump-mariadb
    depends_on:
      - mariadb
    profiles:
      - debug 